* {
  font-family: 'Jacques Francois', serif;
  font-style: normal;
  font-weight: 300;
}
h1 {
  font-family: 'Jacques Francois', serif;
  font-weight: 300;
  margin-top: 4rem;
  font-size: 40px;
  text-align: center;
  color: var(--yellow-color);
  -webkit-text-stroke: 0.2px #474747;
}
.title-statement {
  color: white;
  font-size: 28px;
}
.services {
  width: 70vw;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.service-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35vh;
  width: 30vw;
  gap: 1rem;
  text-align: center;
  padding: 5px 5px;
  background-color: #6462628d;
  border-radius: 25px;
}
.service-name {
  justify-content: center;
  align-items: center;
}
.services h2 {
  color: rgb(236, 236, 17);
  font-size: 25px;
}
.services h3 {
  color: rgb(247, 245, 245);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 100;
  letter-spacing: 0.75px;
  line-height: 1.5;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  gap: 2rem;
}

.project-card {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 30vh;
  width: 22vw;
  margin-top: 3rem;
  text-align: center;
  padding: 5px 5px;
  background-color: #6462628d;
  border: 1px solid rgb(157, 157, 157);
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}
.project-card img {
  position: absolute;
  object-position: center center;
  object-fit: fill;
  height: 93%;
  width: 98%;
  opacity: 1;
  border-radius: 10px;
  transition: opacity 0.2s ease-in-out;
}

.project-card h3 {
  color: white;
  position: absolute;
  z-index: 4;
  transition: opacity 0.2s ease-in-out;
  text-align: center;
  width: 100%;
  opacity: 0;
}

.vertical {
  margin-top: 2rem;
  height: 100%vh;
  width: 1px;
  border: 1px solid var(--yellow-color);
}
