@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,300;1,14..32,300&family=Jacques+Francois&display=swap');

@keyframes slidein {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}
.main-page-content {
  background-color: rgba(0, 0, 0, 0.676);
  min-height: 100vh;
  width: 100vw;
  animation: 4s ease-in-out 3s slidein;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  color: white;
  gap: 1.5vh;
  visibility: hidden;
}
.main-page-content > h1 {
  margin: 15px;
  font-size: 55px;
  font-weight: 300;
  text-decoration-line: underline;
  text-decoration-style: double;
  font-family: 'Jacques Francois', serif;
}
.main-page-content > img {
  height: 45vh;
  border-radius: 70%;
  margin: 6vh;
  filter: brightness(80%);
  border: 1mm ridge rgb(180, 180, 180);
}
.roles {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
.roles > h2 {
  font-size: 28px;
  color: rgb(229, 229, 14);
  font-weight: 400;
  font-family: 'Jacques Francois', serif;
  /* stroke: #474747; */
  -webkit-text-stroke: 0.2px #474747;
}
.roles > h1 {
  font-size: 35px;
  font-weight: 400;
  font-family: 'Jacques Francois', serif;
  -webkit-text-stroke: 0.2px #474747;
}

.main-page-content > h4 {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 100;
  -webkit-text-stroke: 0.1px #474747;
}
.main-page-content button {
  margin-top: 3vh;
}
.main-page-content > button {
  background-color: rgb(188, 186, 36);
  border: none;
  padding: 3px 4px;
  border-radius: 20px;
  height: 5vh;
  width: 8vw;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.333);
  font-family: sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.view-more-btn a {
  color: black;
  text-decoration: none;
}
.main-page-content > button:hover {
  background-color: rgb(234, 231, 10);
  font-size: 16px;
  box-shadow: none;
  text-decoration: underline;
}
